<div class="predictive-search predictive-search--header quickSearchResultsWrap" tabindex="-1" data-predictive-search>
    {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
</div>
<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>