.promo-banner-with-product-grid .promo-banner-with-product-grid-block{
    display: flex;
    width: 100%;
    align-items: start;
    flex-wrap: wrap;
}

.promo-banner-with-product-grid .promo-banner-with-product-grid-block.has-border{
    margin-left: 2px;
}

.promo-banner-with-product-grid .promo-banner-with-product-grid-block .item{
    width: 25%;
}

.promo-banner-with-product-grid .promo-banner-with-product-grid-block .banner-item{
    width: 50%;
}

.promo-banner-with-product-grid .promo-banner-with-product-grid-block.has-border .banner-item{
    width: calc(50% - 1px);
}

.promo-banner-with-product-grid .promo-banner-with-product-grid-block .banner-item img{
    object-fit: cover;
}

.promo-banner-with-product-grid svg.arrow-icon{
    fill: var(--product_price_color);
    width: 22px;
    height: 22px;
}

.promo-banner-with-product-grid .card-price:hover svg.arrow-icon{
    fill: var(--product_price_color_hover);
}

.promo-banner-with-product-grid .button-view-detail svg.arrow-icon{
    fill: var(--color_button);
}

.promo-banner-with-product-grid .button-view-detail:hover svg.arrow-icon{
    fill: var(--color_button_hover);
}

.promo-banner-with-product-grid .button-view-detail{
    color: var(--color_button);
    background-color: var(--bg_color_button);
    min-height: calc(28px + var(--fontsize_product_price) * 1.5);
}

.promo-banner-with-product-grid .button-view-detail:hover{
    color: var(--color_button_hover);
    background-color: var(--bg_color_button_hover);
}

.promo-banner-with-product-grid .button-view-detail .view-detail{
    font-size: var(--fontsize_btn);
    line-height: 1.5;
}

.promo-banner-with-product-grid .promo-banner-with-product-grid-block.has-border .item,
.promo-banner-with-product-grid .promo-banner-with-product-grid-block.has-border .banner-item{
    border: 1px solid var(--border_color);
    margin-left: -1px;
    margin-top: -1px;
}

.promo-banner-with-product-grid .banner-title{
    width: 100%;
    color: var(--color_banner_title);
    font-size: var(--fontsize_banner_title);
    font-weight: 400;
    line-height: 1.3;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 16px;
}

/* Product card */

.promo-banner-with-product-grid .product-item .card-title{
    color: var(--product_title_color);
    font-size: var(--fontsize_product_title);
    line-height: 1.5;
    font-weight: 400;
}

.promo-banner-with-product-grid .product-item .price{
    justify-content: flex-start;
}

.promo-banner-with-product-grid .product-item .card-price{
    --product-price-margin-bottom: 0;
    background-color: var(--product_price_bg_color);
}

.promo-banner-with-product-grid .product-item .card-price:hover{
    background-color: var(--product_price_bg_color_hover);
}

.promo-banner-with-product-grid .button-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
}

.promo-banner-with-product-grid .product-item .price-item span.text{
    margin: 0;
}

.promo-banner-with-product-grid .product-item .price-item span{
    color: var(--product_price_color);
    font-size: var(--fontsize_product_price);
    line-height: 1.5;
    font-weight: 400;
}

.promo-banner-with-product-grid .card-price:hover .price-item span{
    color: var(--product_price_color_hover);
}

.promo-banner-with-product-grid .product-item .card-information{
    --product-title-margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 16px;
}

/* Product card */

@media(max-width: 1024px){
    .promo-banner-with-product-grid .promo-banner-with-product-grid-block .item{
        width: 50%;
    }
    
    .promo-banner-with-product-grid .promo-banner-with-product-grid-block .banner-item{
        width: 100% !important; 
    }

    .promo-banner-with-product-grid .product-item .card-title{
        font-size: var(--fontsize_product_title_mb);
    }

    .promo-banner-with-product-grid .product-item .price-item span{
        font-size: var(--fontsize_product_price_mb);
    }

    .promo-banner-with-product-grid .banner-title{
        font-size: var(--fontsize_banner_title_mb);
    }
}

@media(max-width: 767px){
    .promo-banner-with-product-grid .banner-title,
    .promo-banner-with-product-grid .product-item .card-information{
        padding: 10px;
    }
}

@media(min-width: 1025px){
    .promo-banner-with-product-grid .banner-title span{
        --d: 50%;
        background: linear-gradient(90deg, currentColor 33.33333%, transparent 0 70%, currentColor 0) var(--d, 100%) 100% / 300% 1px no-repeat;
        transition: background .6s ease-in-out 0s;
    }

    .promo-banner-with-product-grid .banner-title:hover span{
        --d: 0%;
        text-decoration: none;
    }
}