.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.newsletter .newsletter-form {
    flex-wrap: wrap;
}

.newsletter .newsletter-form__button{
    margin-top: 10px;
    min-height: 45px;
}

.newsletter-left {
    display: none;
}

.newsletter-right{
    padding: 30px;
}

.newsletter-title{
    position: relative;
    font-size: calc(var(--font-body-size) + 5px);
    font-weight: var(--font-weight-bold);
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.newsletter-desc{
    display: block;
    font-size: var(--font-body-size);
    font-weight: var(--font-weight-normal);
    color: var(--color-text2);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    padding: 2px 0 36px 0;
}

.newsletter-banner{
    position: relative;
    overflow: hidden;
}

.newsletter-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsletter-note{
    display: block;
    width: 100%;
    font-size: calc(var(--font-body-size) - 3px);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    color: var(--color-text2);
    margin: 13px 0 0 0;
    padding: 0 0 6px 0;
}

.newsletter-note a{
    font-size: inherit;
    font-weight: inherit;
}

.newsletter-note a .text{
    text-decoration: underline;
    text-underline-position: under;
}

.newsletter-form__field-wrapper {
    width: 100%;
}

.newsletter-form__message{
    margin: 10px 0 0 0;
}

.halo-newsletter-popup {
    width: 940px;
    max-width: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.halo-newsletter-popup.halo-popup-LeftRight .halo-popup-wrapper{
    padding: 0;
}

.halo-newsletter-popup.halo-popup-LeftRight .halo-popup-header{
    padding-top: 0;
    margin-bottom: 0;
}

body.newsletter-show{
    overflow: hidden;
    /*height: 100%;*/
}

body.newsletter-show .background-overlay,
body.newsletter-message-show .background-overlay{
    opacity: 1;
    pointer-events: all;
}

body.newsletter-show .halo-newsletter-popup{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(-50%,-50%,0);
}

body.newsletter-message-show .halo-newsletter-message-popup{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(-50%,-50%,0);
}

.halo-newsletter-popup .halo-popup-banner {
    width: 470px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}
.halo-newsletter-popup .halo-popup-banner img {
    height: 100%;
    object-fit: cover;
}
.halo-popup-banner + .halo-popup-wrapper {
    width: calc(100% - 470px);
}
.halo-newsletter-popup .halo-popup-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 0;
}
.halo-popup-wrapper .overflow {
    padding: 70px 30px 40px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 81vh;
    height: 100%;
}
.newsletter-popup-title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.halo-newsletter-popup .halo-popup-header {
    padding: 0;
    max-width: 270px;
    margin: 0 auto;
}
.halo-newsletter-popup .halo-popup-content {
    max-width: 270px;
    margin: 0 auto;
    overflow: unset;
}
.newsletter-form__field-wrapper #NewsletterForm--Popup {
    text-align: center;
}
.newsletter-form__field-wrapper .field__labelInline {
    text-align: center;
}

.halo-popup-wrapper .list-social {
    text-align: center;
    margin-top: 40px;
}

.halo-popup-content .list-social__item {
    margin-right: 0;
}

.halo-popup-content .list-social__link  {
    background: transparent;
}

.newsletter--checked {
    margin-top: 10px;
}
.newsletter--checked label {
    display: inline-block !important;
    width: auto !important;
    color: var(--color-text);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

@media screen and (max-width: 767px){
    .halo-newsletter-popup {
        width: 400px;
    }

    .halo-newsletter-popup .halo-popup-wrapper {
        width: 100%;
    }

    .halo-newsletter-popup .halo-popup-banner {
        display: none;
    }

    .halo-popup-wrapper .overflow{
        padding: 35px 25px 30px;
    }

    .halo-popup-wrapper .list-social{
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px){
    .newsletter-popup-title{
        font-size: 16px;
    }
    
    .halo-popup-wrapper .overflow{
        padding: 20px 20px 20px;
    }
}

@media screen and (min-width: 768px){
    .newsletter .newsletter-form {
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
        max-width: 560px;
    }

    .newsletter-left {
        display: inline-block;
        position: relative;
        width: 50%;
        overflow: hidden;
    }

    .newsletter-right{
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .halo-newsletter-popup {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        transform: translate(-50%, -50%) scale(0.95);
        box-shadow: none;
        height: 470px;
        max-height: 81vh;
    }

    .halo-newsletter-popup .halo-popup-banner {
        transform: translateX(50%);
        transition: transform 500ms ease;
    }
    
    .halo-newsletter-popup .halo-popup-wrapper {
        transform: translateX(-50%);
        background-color: white;
        transition: transform 500ms ease;
    }

    #halo-newsletter-popup .overflow {
        padding-top: 75px;
        /*padding-bottom: 76px;*/
        padding-bottom: 26px;
    }

    #halo-newsletter-popup .overflow::-webkit-scrollbar {
        width: 5px;
    }

    #halo-newsletter-popup .overflow::-webkit-scrollbar-track {
        background: #f4f4f4;
    }

    #halo-newsletter-popup .overflow::-webkit-scrollbar-thumb {
        background: var(--color-background-30);
    }

    #halo-newsletter-popup .overflow::-webkit-scrollbar-thumb:hover {
        background: var(--color-background-30);
    }

    body.newsletter-show .halo-newsletter-popup {
        transition: all 500ms ease;
        transform: translate(-50%, -50%) scale(1);
    }

    .halo-newsletter-popup {
        transition: all 500ms ease-out;
    }

    .show-newsletter-image .halo-newsletter-popup .halo-popup-banner,
    .show-newsletter-image .halo-newsletter-popup .halo-popup-wrapper {
        transform: translateX(0);
    }
}

@media screen and (min-width: 1025px){
    .newsletter-right{
        padding-left: 50px;
        padding-right: 50px;
    }

    .newsletter-title{
        font-size: 30px;
        margin: 0 0 24px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .halo-newsletter-popup{
        width: 90%;
        max-width: 720px;
    }

    .halo-popup-wrapper .overflow{
        padding: 45px 25px 21px;
    }

    #halo-newsletter-popup .halo-popup-wrapper .overflow {
        padding: 30px 25px 20px;
    }

    #halo-newsletter-popup .halo-popup-wrapper .list-social {
        text-align: center;
        margin-top: 17px;
    }

    .halo-newsletter-popup .halo-popup-banner, .halo-popup-banner+.halo-popup-wrapper{
        width: 370px;
    }
}

/* Promotion style */
.halo-newsletter-popup.style-2 {
    max-width: 860px;
    height: initial;
    width: 90%;
    box-shadow: 0px 0px 11px 1px #00000080;
}
.halo-newsletter-popup.style-2 .overflow-custom {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 81vh;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.halo-newsletter-popup.style-2 .halo-popup-close {
    box-shadow: 0px 0px 5px 0px #ffffff80;
    z-index: 1;
}
.halo-newsletter-popup.style-2 .halo-popup-banner {
    display: flex;
    width: 100%;
    min-width: calc(392 / 860 * 100%);
    min-height: 580px;
}
.halo-newsletter-popup.style-2 .banner__media {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.halo-newsletter-popup.style-2 .banner__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.halo-newsletter-popup.style-2 .banner__content p {
    margin: 0;
}
.halo-newsletter-popup.style-2 .banner__content .banner__box {
    text-align: center;
}
.halo-newsletter-popup.style-2 .newsletter-popup-title {
    font-weight: 600;
    margin-bottom: 56px;
}
.halo-newsletter-popup.style-2 .discount_label {
    font-size: 40px;
    line-height: 1;
}
.halo-newsletter-popup.style-2 .code-input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 56px;
}
.halo-newsletter-popup.style-2 .code__input {
    display: flex;
}
.halo-newsletter-popup.style-2 .code__input .field__input {
    background-color: transparent;
    border-color: #232323;
    border-right: 0;
    border-radius: unset;
    max-height: 40px;
    font-weight: 700;
    text-align: center;
}
.halo-newsletter-popup.style-2 .code__input .button-code--copy {
    position: relative;
    background-color: #000;
    border-color: transparent;
}
.halo-newsletter-popup.style-2 .code__input .button-code--copy svg {
    width: 20px;
    height: 20px;
    color: #fff;
}
.halo-newsletter-popup.style-2 .code__input .button-code--copy .tooltip {
    font-size: calc(var(--font-body-size) - 2px);
    font-weight: var(--font-weight-normal);
    color: var(--color-white);
    background: var(--color-global);
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 5px;
    z-index: 2;
    min-width: 40px;
    transform: translate(-50%);
    margin: 0 0 10px;
    border-radius: 2px;
    transition: var(--anchor-transition);
    white-space: nowrap;
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.halo-newsletter-popup.style-2 .code__input .button-code--copy .tooltip:before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    height: 0;
    width: 0;
    border-top: 7px solid var(--color-global);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    transform: translate(-50%);
}
.halo-newsletter-popup.style-2 .code__input .button-code--copy:hover .tooltip {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.halo-newsletter-popup.style-2 .code-popup__desc {
    font-style: italic;
    font-size: 12px;
}
.halo-newsletter-popup.style-2 .list-social {
    margin-top: 10px;
}
.halo-newsletter-popup.style-2 .list-social .list-social__link {
    background: var(--btn-1-bg);
    border-color: var(--btn-1-border);
    color: var(--btn-1-color);
    padding: 9px;
}
.halo-newsletter-popup.style-2 .list-social .list-social__link:hover {
    color: var(--btn-1-color-hover);
    background: var(--btn-1-bg-hover);
    border-color: var(--btn-1-border-hover);
}
.halo-newsletter-popup.style-2 .list-social .list-social__link svg {
    fill: var(--btn-1-color);
    width: 16px;
    height: 16px;
}
.halo-newsletter-popup.style-2 .list-social .list-social__link:hover svg {
    fill: var(--btn-1-color-hover);
}
.halo-newsletter-popup.style-2 .form-label--checkbox:before,
.halo-newsletter-popup.style-2 .form-label--checkbox:after {
    content: none;
}
.halo-newsletter-popup.style-2 .newsletter--checked {
    margin-top: 46px;
}
.halo-newsletter-popup.style-2 .newsletter--checked label {
    text-underline-offset: 0.8rem;
}

.halo-newsletter-popup.style-2 .halo-popup-wrapper {
    min-width: calc(100% - (392 / 860 * 100%));
    width: 100%;
    height: initial;
}
.halo-newsletter-popup.style-2 .popup__product {
    display: flex;
    flex-direction: column;
    padding: 20px 16px 22px;
}
.halo-newsletter-popup.style-2 .popup__product .popup__product-title {
    font-size: 16px;
    font-weight: 600;
    margin-block: 0 11px;
}
.halo-newsletter-popup.style-2 .products-grid {
    margin: 0 0 20px;
}
.halo-newsletter-popup.style-2 .products-grid .slick-arrow.slick-prev {
    left: 0!important;
}
.halo-newsletter-popup.style-2 .products-grid .slick-arrow.slick-next {
    right: 0!important;
}
.halo-newsletter-popup.style-2 .products-grid .slick-arrow{
    width: 40px;
    height: 40px;
}
.halo-newsletter-popup.style-2 .button-continue {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-block: auto 0;
    max-width: 282px;
}
.halo-newsletter-popup.style-2 .button-continue svg {
    width: 16px;
    height: 16px;
    margin: 0;
}
.halo-newsletter-popup.style-2 .products-grid .product {
    margin-top: 0;
}
@media (min-width: 551px) and (max-width: 767px) {
    .halo-newsletter-popup.style-2 {
        width: 400px;
    }
}
@media (min-width: 768px) {
    .halo-newsletter-popup.style-2 .overflow-custom {
        display: flex;
    }
    .halo-newsletter-popup.style-2 .halo-popup-banner,
    .halo-newsletter-popup.style-2 .halo-popup-wrapper {
        transform: translate(0);
    }
    .halo-newsletter-popup.style-2 .discount_label {
        font-size: 64px;
    }
}
