.customer-testimonial:not(.slick-initialized){
    display: flex;
}

.customer-testimonial:not(.slick-initialized) .item{
    width: calc(100% / 3);
}

.customer-testimonial-block .halo-block-header .title{
    display: block;
    color: var(--color_heading);
    font-size: var(--font_size_heading);
    line-height: 1.3;
    font-style: var(--font_style_heading);
    margin-bottom: var(--mg_bottom_heading);
}

.customer-testimonial-block .halo-block-header .view_all{
    font-size: var(--view_all_fs);
    line-height: 1.3;
    font-weight: 500;
    color: var(--color_view_all);
    margin-bottom: var(--mg_bottom_view);
    padding-bottom: 3px;
}

.customer-testimonial-block .halo-block-header .view_all.has-border{
    padding-bottom: 2px;
}

.customer-testimonial-block .halo-block-header .view_all:not(.has-border){
    border: none;
}

.customer-testimonial-block .halo-block-header .title .text{
    width: auto;
}

.customer-testimonial-block .halo-block-header{
    margin: 0;
}

.customer-testimonial .item{
    display: flex;
    gap: 10px;
    min-height: 500px;
    padding: 0 20px;
}

.customer-testimonial .placeholder-svg{
    border-radius: 8px;
}

.customer-testimonial .item > div{
    width: 50%;
}

.customer-testimonial .item .item-content{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 12px;
    background-color: var(--content_bg);
    padding: 24px;
    border-radius: 8px;
}

.customer-testimonial .item .item-content .star,
.customer-testimonial .item .item-content .content,
.customer-testimonial .item .item-content .link{
    width: 100%;
    height: fit-content;
}

.customer-testimonial .item .item-content .star{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 2px;
}

.customer-testimonial .item .star svg{
    width: 27.2px;
    height: 26px;
    stroke: unset;
}

.customer-testimonial .item .item-content .content{
    color: var(--content_color);
    font-size: var(--fontsize_content);
    line-height: 1.4;
}

.customer-testimonial .item .item-content .link{
    position: relative;
    color: var(--button_color);
}

.customer-testimonial .item .item-content .link:hover{
    color: var(--button_color_hover);
}

.customer-testimonial .item .item-content .link:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -3px;
    left: 0;
    background: currentColor;
    transform: scaleX(0);
    transition: transform var(--duration-short) ease-in-out;
}

.customer-testimonial .item .item-content .link:hover:after{
    transform: scaleX(1);
}

.customer-testimonial .images-contain img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.customer-testimonial .images-contain .image{
    display: block;
    height: 100%;
    border-radius: 8px;
}

@media(max-width: 1024px){
    .customer-testimonial .item .item-content .content{
        font-size: var(--fontsize_content_mb);
    }

    .customer-testimonial-block .halo-block-header .view_all{
        font-size: calc(var(--view_all_fs) - 2px);
        margin-bottom: calc(var(--mg_bottom_view) * 0.75)!important;
    }

    .customer-testimonial-block .halo-block-header .title{
        font-size: var(--font_size_heading_mb);
        margin-bottom: calc(var(--mg_bottom_heading) * 0.75);
    }

    .customer-testimonial .item .item-content{
        padding: 18px;
    }

    .customer-testimonial .item{
        padding: 0 25px;
        min-height: 400px;
    }
}

@media(max-width: 767px){
    .customer-testimonial-block .halo-block-header .title{
        margin-bottom: calc(var(--mg_bottom_heading) * 0.5);
    }

    .customer-testimonial-block .halo-block-header .view_all{
        margin-bottom: calc(var(--mg_bottom_view) * 0.5)!important;
    }

    .customer-testimonial .item{
        padding: 0 20px;
        min-height: 400px;
        flex-wrap: wrap;
    }

    .customer-testimonial .item > div{
        width: 100%;
    }

    .customer-testimonial .images-contain img{
        position: absolute;
        top: 0;
        left: 0;
    }

    .customer-testimonial .images-contain .image{
        padding-top: 100%;
    }

    .customer-testimonial .item .item-content{
        min-height: calc(100vw - 40px);
    }
}

@media(min-width: 1025px){
    .customer-testimonial-block .customer-testimonial{
        margin: 30px 0;
    }
}
